<tr class="background-primary">
  <td class="background-primary col-pad ink-light" align="center">
    <p>
      Copyright © <a class="ink-light" style="color: #fff; text-decoration: none;" href="{{ meta.senderWebsite }}">{{ meta.senderName }}</a> {% year %}<br/>
      <small class="ink-light">{{ meta.senderAddress }} | <a class="ink-light" style="color: #fff; text-decoration: none;" href="mailto:{{ meta.email }}">{{ meta.email }}</a> | <a class="ink-light" style="color: #fff; text-decoration: none;" aria-label="{{ meta.ariaPhone }}" href="tel:{{ meta.phone }}">{{ meta.phone }}</a></small>
    </p>
  </td>
</tr>
